
config serverchan 'global'
	option enabled '0'
	option sckey ''

config serverchan 'timing_message'
	option title 'Lede By stones V2.5 路由状态消息：'
	option send_mode 'disable'
	option router_status '0'
	option router_temp '0'
	option router_wan '0'
	option client_list 'disable'
	option koolss_status '0'

config serverchan 'trigger_message'
	option t_redial '0'
	option t_client_up '0'
